@media screen and (min-width: 1024px) {
  /*HERO SECTİON*/
  .hero-section {
    margin-top: 150px;
    margin-bottom: 100px;
  }
  .hero-section .hero-image {
    padding-top: 80px;
  }
  .hero-section .hero-content h1 {
    max-width: 645px;
    font-size: 80px;
  }
  .hero-section .hero-content p {
    width: 380px;
    margin-bottom: 50px;
    font-size: 18px;
  }

  .hero-section .hero-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  /*PİNK SECTİON*/
  .pink-section-content{
      padding-right: 92px;
  }
}
/*HERO SECTİON*/

.hero-section .hero-content h1 {
  color: #212353;
  font-weight: 700;
  margin-bottom: 50px;
}

.hero-section .hero-content p {
  color: #4b5d68;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
}
/*PİNK SECTİON*/
.pink-section-background{
  background-position: center;
  background-image: url("../img/pink-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.pink-section h2 {
  color: #212353;
  font-weight: 700;
  line-height: 52px;
  font-size: 40px;
  margin-bottom: 40px;
}
.pink-section p {
  color: #4b5d68;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
